@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');$var1:#ffffff;
$var2:#333;

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
}
header{
    color:#222222;
    overflow: hidden;
    background-color: #fff;
    padding: 1% 5%;
    top: 0px;
    position: relative;
    right: 0px;
    left: 0px;
    z-index: 5;
    //margin:3% 5%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 15px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 2px 0px 0px inset;
    .logo{
        width: 40%;
        float: left;
        height: 38px;
        text-align: left;
    }
    .nav{
        width: 60%;
        float: right;
        display: flex;
        justify-content: space-between;
        .logo2{
            display: none
        }
        a{
            animation: null 1s 1 ease-in-out;
            padding: 10px;
            display: inline-block;
            text-decoration:none;
            color: #222222;
            position: relative;
            z-index: 1;
            transition: 0.8s;
            margin: 0px 5px;
            overflow: hidden;
            opacity: 0.6;
            text-transform:capitalize;
                &:last-child{
                    background:#444;
                    opacity:1;
                    color:#fff;
                    border-radius:30px;
                }
            &:hover{
                opacity: 1;
            }
            &::after{
                content: '';
                background-color: #444;
                position: absolute;
                transition: 0.6s;
                z-index: 1;
                bottom: 0px;
                right: 0px;
                left: 0px;
                transform: scale(0);
                height: 2px;
                width:50%;
                margin: 0 auto;
            }&:hover::after{
                transform: scale(1);
            }
        }
    }
}
@media screen and (max-width:700px){
    header{
        .nav{
            width: 50%;
            float: none;
            height: 100vh;
            right: 0px;
             box-shadow:rgba(0, 0, 0, 0.1) 0px 4px 15px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(237, 44, 73, 0.5) 0px 2px 0px 0px inset;            ;
            top: 0px;
            background-color: $var1;
            position: fixed;
            bottom: 0px;
            transform:translateX(100%);
            transition: .4s ease-in-out;
            display: flex;
            flex-flow: column;
            background: #fff;
            padding: 0% 0% 20% 0%;
             a{
                display: block;
                margin: 10px 0px;
                text-align: center;
                &:last-of-type{
                    border-radius: 0px;
                    background: #fff;
                    color:#7e4e4e;
                    opacity:0.7;
                }
            }.logo2{
                height: 10%;
                text-align: center;
                margin: 7% 0px;
                display: block;

                img{
                    height: 100%;
                    border-bottom: 2px solid #444;
                }
            }
        }
div{
    overflow: hidden;
.burger{
        position: fixed;
        background: #fff;
        padding: 10px;
        left: 10px;
        width:50px;
        display: inline-block;
        border-radius: 8px;
        bottom: 50px;;
        span{

            display: block;
            height: 5px;
            margin: 2px;
            background-color: lightcoral;
            transition:all 1s ease-in-out;

        }
    }.burger{
        z-index: 1;
        transform: scale(1);


    }
}
    }

}

// active componenet
.active {
    opacity: 1 !important;
    &:after{
      transform:scale(1) !important;
    }
  }
@keyframes mymove  {
    from{
        opacity:0;
        // transform:translateY(100%);
    }
    to{
        opacity:1;
        // transform:translateY(100%);

    }
}